<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" type="image/png" href="img/icon.png">
  <title>{name}</title>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="lib/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="js/index.css">
</head>
<body>
  <div id="header">
    <div id="header_logo">
      <div id="logo">
        <img src="img/nyu_logo.png" width="384px" height="60px"/>
      </div>
    </div>
    <div id="purple_line">
    </div>
    <h1>{name}</h1>
  </div>
  <div id="description">
    <p>
      {description}
    </p>
  </div>
  <div id="talks">
    {content}
  </div>
</body>
</html>
